.ModalNip{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.ModalNip .modal-contentNip{
    width: 300px;
    background-color: rgb(255, 255, 255);
    display: flex;
    z-index: 102;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
}

.ModalNip p{
    font-size: 20px;
    color: #5a5a5a;
    font-weight: 600;
}

.ModalNip input{
    padding: 5px 7px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #333;
}

.ModalNip .botones{
    display: flex;
    justify-content: space-around;
}

.ModalNip .botones button{
    border-radius: 5px;
    width: 120px;
    height: 35px;
    border: 1px solid #333;
    background-color: white;
    font-size: 18px;
}

.ModalNip .botones button:hover{
    opacity: 80%;
}

.ModalNip .botones .azul{
    background-color: #0f1ab4;
    color: white;
}





